.formContent {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.identityContent,
.addressContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.identityContent label,
.addressContent label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 1.5rem;
  gap: 10px;
  font-family: Source Sans Pro,sans-serif;
}

.identityContent input,
.addressContent input {
  margin-top: 5px;
}

.departmentContainer {
  text-align: center;
  margin-bottom: 40px;

}

.departmentContainer label{
    font-size: 1.5rem;
    gap: 15px;
    font-family: Source Sans Pro,sans-serif;
}



.inputText{
  font-size: 1.3rem; 
}