.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 50px 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  
  .logoImage {
    width: 150px;
    height: 150px;
    animation: rotation 35s infinite linear;
    border-radius: 50%;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  