  .navButtons {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
    margin-bottom: 100px;
    
  }

  .navButton {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #93ad18;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .navButton:hover {
    background-color: #5A6E07;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navButtons:hover .navButton:not(:hover) {
    background-color: #b4ce4f; /* Couleur de fond pour l'autre bouton lorsqu'on survole un bouton */
  }
  
  .activeNavButton {
    background-color: #5A6E07;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    top: 1px; 
  }